.bluish {
    background-color: #eef7ff;
}

.lightbluish {
    color: #00BFFF;
}

.centrish {
    margin: auto;
    box-shadow: 0 3px 10px 4px rgba(0,0,0,0.1);
}



.orange {
    color: #FFA500;
}

.soundcloud {
    background: #fe8c00; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fe8c00 , #f83600); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fe8c00 , #f83600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.instagramm {
    background: #517fa4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #517fa4 , #243949); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #517fa4 , #243949); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.maxi {
    max-width: 758px;
    margin: auto;
    padding: 15px;
}



.kabbe {
    max-width: 800px;
    margin: auto;
    padding: 15px;
}




.alatta > p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;

}


.about > p {

    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;

}



ul.share-buttons{
    list-style: none;
    padding: 0;
}

ul.share-buttons li{
    display: inline;
}


